{
  "presets": ["es2015"],
  "plugins": [
  						"transform-async-to-generator", 
  						"transform-es2015-modules-commonjs",
  						"babel-plugin-add-module-exports",
  						"transform-es2015-classes"]
}